<%= stylesheet_link_tag 'movies' %>

<div class="main show_user-movie">
  <div class="container">
    <h1><%="#{@movie.title}についての投稿"%>
    </h1>
    <div><br>
     <% if @movie.img? %>
       <div class="d-flex justify-content-center">
         <p><%= image_tag @movie.img.url, style: "max-height: 200px; width: auto" %></p>
       </div>
    <% end %>
    </div>
    <div>
    <li><%="監督"%></li>
    <%= "#{@movie.director}" %>
    </div><br>
  
   <div>
     <li><%= "上映時間" %></li>
     <td colspan="11"><%= (@movie.screentime.strftime('%H:%M')) %></td>
   </div><br>
  
   <div>
   <li><%= "映画詳細" %></li>
    <td colspan="11"><%= "#{@movie.detail}" %></td>
   </div><br>
  
   <div>
    <li><%= "感想" %></li>
    <td colspan="11"><%= "#{@movie.impression}" %></td>
   </div><br>
  
  <div>
    <h2>コメントを投稿する</h2>
     <%= form_with(model: [current_user, @movie, Comment.new], url: user_movie_comments_path(current_user, @movie), method: :post) do |f|%>
      <%= f.text_area :content, placeholder: "コメントを入力してください",class: "form-control"%>
      <%= f.submit "投稿する", class:"btn btn-block btn-primary"%>
     <% end %>
  </div>
  
    <% if @movie.comments.exists?%>
      <div>
        <h2>コメント一覧</h2>
       <% @movie.comments.each do |comment| %>
          <div>
            <strong><%= comment.user.name %>
            </strong>: <%= comment.content%>
          </div>
          <div><%=link_to "✏️",edit_user_movie_comment_path(current_user,@movie,comment),class:"btn"%>
              <%=link_to "削除",user_movie_comment_path(current_user,@movie,comment), method: :delete, class:"btn btn-danger"%>
          </div>
       <% end %>
    <% else %>
      <div>
      <div>
    <% end %>
    </div>
  </div>
</div>