
<div class="main user-show">
  <div class="container">
    <h1 class="user-headding"></h1>
      <div class="users-show-item">
        <div class="user-right">
        <% if @user.picture.attached? %><br>
          <%= image_tag @user.picture, width: 200, class: "mb-2" %><br>
        <% else %>
          <%= image_tag "/user_images/no_image.png", width: 50, class: "mb-2 rounded-circle" %><br>
        <% end %>
          <%= @user.name %><br>
          <%= @user.email%><br>
          <div class="horizontal-line"></div>
          <%= link_to"+",new_user_movie_url(@user),class: "btn btn-success btn-text"%><br>
        </div>
        <div class="movie_show_index">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-mi-offset-12">
             
               <%# debugg情報の表示 %>
                <%if @user.movies.any?%> 
                 <h3>投稿一覧</h3>
                 <%# <%= debug @user.movies %> %>
      
                  <% @user.movies.each do |movie| %>
                    <div class="container">
                      <div class="row">
                        <div class="col">
                          <p><%= movie.title %></p>
                        </div>
                        <div class="col">
                          <p><%= movie.screentime %></p>
                        </div>
                        <div class="col">
                          <p><%= movie.director %></p>
                        </div>
                        <div class="col">
                          <p><%= movie.detail %></p>
                        </div>
                        <div class="col">
                          <p><%= movie.impression %></p>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <%else%>
                  <p>映画のレビューを書いてみよう！</p>
                  <div class="movie-container">
                  <div class="movie_item">
                  <%= image_tag("movie_no_image.png",class:"user_show_movie_expample",width:"200px",height:"auto")%>
                  <p>タイトルA</p>
                <% end %>
               </div>
            </div>
          </div>
      </div>
  </div>
</div>