
<div class="main user-show">
  <div class="container">
    <h1 class="user-headding"></h1>
      <div class="users-show-item">
        <div class="user-right">
        <% if @user.picture.attached? %><br>
          <%= image_tag @user.picture, width: 200, class: "mb-2" %><br>
        <% else %>
          <%= image_tag "/user_images/no_image.png", width: 50, class: "mb-2 rounded-circle" %><br>
        <% end %>
          <%= @user.name %><br>
          <%= @user.email%>
        </div>
        <div class="movie_show_index">
          <%= link_to"新規作成",new_user_movie_url(@user)%>
        </div>
      </div>
  </div>
</div>