
<div class="main user-show">
  <div class="container">
    <h1 class="user-headding"></h1>
      <div class="users-show-item">
        <div class="user-right">
        <% if @user.picture.attached? %><br>
          <%= image_tag @user.picture, width: 200, class: "mb-2" %><br>
        <% else %>
          <%= image_tag "/user_images/no_image.png", width: 50, class: "mb-2 rounded-circle" %><br>
        <% end %>
          <%= @user.name %><br>
          <%= @user.email%><br>
          <div class="horizontal-line"></div>
          <%= link_to"+",new_user_movie_url(@user),class: "btn btn-success btn-text"%><br>
        </div>
        <div class="movie_show_index">
          <div class="container text-center">
            <div class="row">
              <div class="col-md-12 col-mi-offset-12">
               <% if @user.movies.any? %>
               <h1>Collection</h1>
                <% @user.movies.each do |movie| %>
                  <div class="col-md-4 show_index">
                  <table class ="table table-condensed table-hover">
                  <thead>
                   <tr>
                  </tr>
                   </thead>
                   <tbody>
                   <td>
                   <pre><%= movie.title %></pre>
                   </td>
                   <td>
                   <pre><%= movie.director %></pre>
                   </td>
                  </tbody>
                </table>
                    <% if movie.img? %>
                    <div class="d-flex justify-content-center">
                      <p><%= image_tag movie.img.url, style: "max-height: 200px; width: auto" %></p>
                    </div>
                    <% else %>
                     <div class="d-flex justify-content-center">
                      <p><%= image_tag "movie_no_image.png", style: "max-height: 200px; width: auto" %></p>
                    </div>
                    <% end %>
                    <%= link_to "編集", edit_user_movie_path(@user, id: movie.id), class: "btn btn-success" %>
                  </div>
                <% end %>


                <%else%>
                  <p>映画のレビューを書いてみよう！</p>
                  <div class="movie-container">
                  <div class="movie_item">
                  <%= image_tag("movie_no_image.png",class:"user_show_movie_expample",width:"200px",height:"auto")%>
                  <p>タイトルA</p>
                <% end %>
               </div>
            </div>
          </div>
      </div>
  </div>
</div>