<!DOCTYPE html>
<html>
  <head>
    <title>MovieApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <a href="/">MOVIE TALK</a>
      </div>
      <ul class="header-menus">
        <li><a href="/about">MOVIE TALKについて</a></li>
      </ul>
    </header>
    <div id="main-message">
      <div class="container">
        <% flash.each do |message_type,msg|%>
          <div class="alert alert-<%=message_type%>"><%= msg %></div>
        <% end %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
